.screen-container{
    width: calc(100% - 100px);
    height: 100%;
    background-color: #1E2A3E;
    border-radius: 30px;
    background-color: #0583a3;
    opacity: 1;
    background-image:  repeating-radial-gradient( 
        circle at center left, 
        transparent 0,
        #0583a3 200px ), 
        repeating-linear-gradient( #5ba7b455, #5ba7b4 );
    
}
.flex{
    display: flex;
    
}