a {
    text-decoration: none !important;
}
.btn-body{
    height: 60px;
    height: 60px;
    border-radius: 20px;
    color: #1E2A3E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.5s ease;
}
.btn-body.active{
    background-color: #1E2A3E;
    color: aqua;
    transform: scale(1.05);
}
.btn-body:hover{
    color:#fff;
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}